<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Cadastro de Clientes</mat-card-title>
    <mat-card-subtitle>Angular/NestJs</mat-card-subtitle>
  </mat-card-header>
    <mat-card-content *ngFor="let item of items">
      <img mat-card-image [src]="item.imagem" alt="Photo of a Shiba Inu">
      <h5 class="card-title">{{ item.nome }}</h5>
      <p class="card-text">{{ item.imagem }}</p>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card-content>
</mat-card>
